* { }
html { scroll-behavior: smooth; font-family: monospace;}
:root {}
body { margin:0%; padding: 0%;}
.nav-list { display: flex; justify-content: flex-end; }
.services { border-bottom: double;}
.header {
   
    text-align: center; /* center the text */
    background: rgba(223, 222, 222, 0.815); 
    color: rgb(83, 219, 83); 
    font-size: 16px; font-family: 'Courier New', Courier, monospace; font-weight: bold;
    height: 26px; margin: 0%; padding: 0%; top: 0%; z-index: 1;}

.nav { border: 2px double rgb(12, 11, 10); background-color: rgb(177, 180, 125); height: 78px;}

/* .nav, .header { position: fixed; width: 100%; } */

li { display: block; margin: 1.5rem; padding: 1.5rem; }

.navbar {
        overflow: hidden; /* Hide overflow */
        background-color: #333; /* Dark background color */
        display: inline; z-index: 2;
      }
      
      
.nav-list {
         /* Make sure that the links stay side-by-side */
        display: flex; /* Change the display to block, for responsive reasons (see below) */
        color: rgba(255, 255, 255, 0.068); /* White text color */
        justify-content: flex-end ; top: 0%; margin: 0; padding: 0; 
        text-decoration: dotted; align-items: center; }
      
    
.nav-title {
        margin: 0; padding: 0; bottom: 5%; top: 5%; left: 15%;}
      
      /* Change color on hover/mouse-over */
.navbar a:hover {
        background-color: #ddd; /* Grey background color */
        color: black; /* Black text color */ }
@media only screen and (max-width: 480px) {
        html {
          font-size: 100%; } }
