* { }
html { scroll-behavior: smooth; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
:root {}
body { margin:0%; padding: 0%;}
.nav-list { display: flex; justify-content: flex-end; }
.services { border-bottom: double;}
.header {
   
    text-align: center; /* center the text */
    background: rgba(24, 23, 23, 0.815); 
    color: rgb(69, 163, 187); 
    font-size: 16px; font-family: cursive; font-weight: 400;
    height: 26px; margin: 0%; padding-bottom: 0%; top: 0%; z-index: 1;
    


        }

.nav { border: 2px double rgb(12, 11, 10); background-color: rgb(177, 180, 125); height: 78px;
        position: fixed;
        top: 30px;
        left: 0;
        width: 100%;
        text-align: center;
        overflow: hidden;
        padding-top: 0; z-index: -1;}

/* .nav, .header { position: fixed; width: 100%; } */

li { display: block;}

.navbar {
        overflow: hidden; /* Hide overflow */
        background-color: #333; /* Dark background color */
        display: inline; z-index: 2;
      }
      
      
.nav-list {
         /* Make sure that the links stay side-by-side */
        display: flex; /* Change the display to block, for responsive reasons (see below) */
        color: rgba(255, 255, 255, 0.068); /* White text color */
        justify-content: flex-end ; top: 0%; margin: 0; padding: 0; 
        text-decoration: dotted; }
      
    
.nav-title {
        float: right; }
      
      /* Change color on hover/mouse-over */
.navbar a:hover {
        background-color: #ddd; /* Grey background color */
        color: black; /* Black text color */ }

/* Footer */
  .footer {
    padding: 2px;
    text-align: center;
    background: #ddd;
    margin-top: 2px;
    border-radius: 6px;
  }

  .footer-text { text-indent: .5rem;
}

  .arrow { 
        display: inline-flex; position: absolute; height: 2.7rem;
  }


  .fa {
    padding: 20px;
   display: inline-flex; justify-content: flex-end; position: absolute
    width: 50%; height: 50%; 
  }
    .fa:hover {
        opacity: 0.7;
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
      width: 100%;
      padding: 0;
    }



@media only screen and (max-width: 480px) {
        html {
          font-size: 100%; } }
